.env.yaml filter=git-crypt diff=git-crypt
.firebaserc filter=git-crypt diff=git-crypt
firebase_options.dart filter=git-crypt diff=git-crypt
google-services.json filter=git-crypt diff=git-crypt

# Config
env.dart filter=git-crypt diff=git-crypt
Makefile.variables filter=git-crypt diff=git-crypt
